REGISTRATION_APP_URL=registration-pal-james-manuel.apps.evans.pal.pivotal.io
BACKLOG_APP_URL=backlog-pal-james-manuel.apps.evans.pal.pivotal.io
ALLOCATIONS_APP_URL=allocations-pal-james-manuel.apps.evans.pal.pivotal.io
TIMESHEETS_APP_URL=timesheets-pal-james-manuel.apps.evans.pal.pivotal.io
UAA_ENDPOINT=https://login.sys.evans.pal.pivotal.io
UAA_CLIENT_ID=40851790-637f-41d0-ad5d-5555b3b55ef3
UAA_CLIENT_SECRET=225485eb-3b36-4d75-9c7a-93771e8264fa
export TIMESHEETS_APP_URL ALLOCATIONS_APP_URL BACKLOG_APP_URL REGISTRATION_APP_URL UAA_ENDPOINT UAA_CLIENT_ID UAA_CLIENT_SECRET
